<h1>Function Spaces</h1>

<div id="venueHallGridContent">
	<%= render partial: 'hallgrid' %>
</div>

<%= link_to raw('<i class="glyphw icon-white icon-plus"></i>Add new function space'), {:action => 'new'}, remote: true, :class => "hallFormLnk btn btn-success" %>
<div id="openHallSlide">
	<%= render 'form', locals: { :venue => @venue } %>
</div>
