<% content_for :title, "About Us" %>
<div id="aboutus">
	<p><br /></p>
	<h1>About JollyEventz</h1>
	<p>Hello!</p>
	<p>
		We are happy that you wanted to read about us and learn more. We owe you thanks for being a part of the JollyEventz journey and bringing smiles on many faces through wonderful events.
	</p>
	<p>
		<b><i>“A good event deserves a great venue”</i></b> - JollyEventz helps you find and book a great venue.
	</p>
	<p>
		If you plan to organize a birthday party, wedding, corporate meeting or any event, JollyEventz is your companion to find the best venue for your special occasion. Just tell us what your requirements are, we give you a few great recommendations and then help you book the venue directly. It’s a simple model.
	</p>

	<p><b>The story behind JollyEventz</b></p>

	<p>
		JollyEventz was born out of a problem that frustrated the founder Ms. Archana while she was part of a meetup group. Each time she organized a meetup, she had to find a place depending on the theme of the event and also the number of participants. That was a bit of a pain. On the other side - a lot of conference rooms, banquet halls and wedding halls don’t fully utilize their function spaces and were looking for people to occupy. That was the Eureka moment! JollyEventz was then conceptualized to connect venues and events in order to create a win-win scenario.
	</p>
	<p>
		<b>JollyEventz is a super cool site to find venues as per your needs and instantly book the venue like a breeze. We have built JollyEventz keeping you in mind. JollyEventz therefore connects you with a wide range of venues and provide all the information you need at no cost.</b>
	</p>
</div>