<% content_for :title, "Benefits for Event Planners" %>
<div id="benefits" class="row-fluid">
	<div class="offset1 span10">
		<p><br /></p>
		<h1>Benefits for Event Planners</h1>
		<ul>
			<li>Finding the right venue space within budget, location, size and excellent facilities can be the toughest part of planning an event.</li>
			<li>We know how painful it is to hunt for venues- right from searching the internet, finding contacts, calling each venue to gather information about size, price and later spending hours visiting the venue to sign contracts and more.</li>
		</ul>
	</div>
</div>