<% content_for :title, "Benefits for Venue Owners" %>
<div id="benefits" class="row-fluid">
	<div class="offset1 span10">
		<p><br /></p>
		<h1>Benefits for Venue Owners</h1>
		<ul>
			<li>As part of our initial survey to understand the pain point faced by Venue owners, it was disheartening to know that most venues were less utilized than they were capable of. The reason for this was attributed to lesser occupancy, ineffective marketing efforts and difficulty in managing customer relationships.</li>
			<li>JollyEventz thought about this for quite some time and came up with a solution that brings additional bookings to venues. JollyEventz provides a bouquet of benefits to the venue owner depending on the subscription plan being chosen.</li>
		</ul>
	</div>
</div>		