<div>
	<form id="login-form" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" id="name" placeholder="Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" id="email" placeholder="Email">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="subject">Subject</label>
			<div class="controls">
				<input type="text" id="subject" placeholder="Subject">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="feedback">Feedback</label>
			<div class="controls">
				<textarea cols="100" rows="10" id="feedback"></textarea>
			</div>
			<div class="controls">
				<button type="submit" class="btn">Submit!</button>
			</div>
		</div>
	</form>
</div>