<% content_for :title, "How It Works" %>
<div id="howitworks" class="row-fluid">
	<div class="offset1 span10">
		<p><br /></p>
		<h1>How It Works?</h1>
		<p>
			JollyEventz is built on a large database of venues in and around Chennai that accommodate a range of budget, party/event size and vibes of people. For someone who is planning an event- JollyEventz is a one stop portal to find and book a venue at the click of a mouse. For someone who owns a space and would like to increase its occupancy rate- JollyEventz gets you more bookings and contributes to a rise in your revenue.</p>
		<p>
			You now need not worry if you are clueless about venues in Chennai or if the venues you know do not have a space on the day of your choice. Be it anytime or any place- just visit www.jollyeventz.com and search for venues, make a request and within minutes book your venue and feel relieved.</p>

		<h3>Need a venue for your Event? Just 4 simple steps...</h3>
		<%= image_tag('howitworks1.png') %>
		<br />

		<h3>Have a place for conducting events? Partner with us...</h3>
		<%= image_tag('howitworks2.png') %>
		<br /><br />

	</div>
</div>