<div class="hero-unit" id="awesomeText">
	<h2>Spending too much time searching for a venue? Relax, we'll find the right place for any event!</h2>
</div>

<div id="searchArea">
	<div id="searchButtons" class="pull-right">
		<div class="btn-group">
			<a class="btn btn-inverse btn-large dropdown-toggle" data-toggle="dropdown" href="#">		
				I'm looking for
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" id="eventTypeDiv">
				<li><a href="#">Wedding</a></li>
				<li><a href="#">Birthday Party</a></li>
				<li><a href="#">Corporate Meeting2342etsdgdghdfhydfgyd</a></li>
			</ul>
		</div>
		<div class="btn-group" id="inAndAroundDiv">
			<a class="btn btn-inverse btn-large dropdown-toggle" data-toggle="dropdown" href="#">
				In & Around
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Guindy</a></li>
				<li><a href="#">Adayar</a></li>
				<li><a href="#">OMR</a></li>
				<li><a href="#">Ashok Nagar</a></li>
				<li><a href="#">K K Nagar</a></li>
				<li><a href="#">OMR</a></li>
				<li><a href="#">Guindy</a></li>
				<li><a href="#">Adayar</a></li>
				<li><a href="#">OMR</a></li>
			</ul>
		</div>
		<input type="button" class="btn-large btn-info" Value="Search Venues" />
	</div>
</div>
<div id="listVenueMsg" class="row-fluid">
	<hr />
	<h3>Do you have space for conducting events? <em><a href="#" style="color:#fa8534;">List your venue!</a></em> &gt;&gt; Receive more bookings!!</h3>
	<hr />
</div>
<div class="row-fluid">
	<h2>Featured Venues</h2>
</div>
<div class="row-fluid">
	<div class="span6">
		<h3>For Birthdays, weddings & more...</h3>
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="assets/1.jpg" />
					<p class="flex-caption">Image ONE - 1</p>
				</li>
				<li>
					<img src="assets/2.jpg" />
					<p class="flex-caption">Image TWOoooo - 2</p>
				</li>
				<li>
					<img src="assets/3.jpg" />
					<p class="flex-caption">Image THREE - 3</p>
				</li>
				<li>
					<img src="assets/4.jpg" />
					<p class="flex-caption">Image FOUR - 4</p>
				</li>
				<li>
					<img src="assets/5.jpg" />
				</li>
			</ul>
		</div>
	</div>
	<div class="span6">
		<h3>For Meetings, business & more...</h3>
		<div class="flexslider">
			<ul class="slides">
				<li>
					<img src="assets/3.jpg" />
					<p class="flex-caption">Image ONE - 1</p>
				</li>
				<li>
					<img src="assets/5.jpg" />
					<p class="flex-caption">Image TWOoooo - 2</p>
				</li>
				<li>
					<img src="assets/1.jpg" />
					<p class="flex-caption">Image THREE - 3</p>
				</li>
				<li>
					<img src="assets/2.jpg" />
					<p class="flex-caption">Image FOUR - 4</p>
				</li>
				<li>
					<img src="assets/4.jpg" />
				</li>
			</ul>
		</div>
	</div>
</div>