<% content_for :title, "Privacy Policy" %>
<div id="privacy">
	<p><br /></p>
	<h1>JollyEventz Privacy Policy</h1>
	<p>
		JollyEventz is a website that brings together people looking for venues with those people who own venues for those events. JollyEventz is a product promoted by GeoVerge Technologies Private Limited.
	</p> 
	<p>
		<a href="www.jollyeventz.com">www.jollyeventz.com</a> cares for your personal privacy very seriously. We (JollyEventz) respect the privacy of your information and hence believe it is important for us to keep this information secure. We assure that we will never disclose your personal details to any third party for their marketing purposes without your explicit consent.
	</p>
	<p>
		Please read this privacy policy carefully so that you understand what information we will require from you and what we actually do with that information. We want to make it clear that we have no plans (for now and forever) to sell our database of information about you. We value your trust.
	</p>
	<ol>
		<li>Privacy Policy - Overview:</li>
		<ul>
			<li>
				This Privacy Policy applies to our services provided in the domain and sub domains of <a href="www.jollyeventz.com">www.jollyeventz.com</a>. By visiting the site you agree to our terms of use as stated in this policy. If by any chance you do not agree with our terms and conditions, please do inform us by sending your concerns to <a href="mailto:privacy@jollyeventz.com">privacy@jollyeventz.com</a>.
			</li> 
		</ul>
		<li>Information we collect from you :</li>
		<ul>
			<li>Even without you providing any of your personal information, we make sure you can search and find a lot of information about venues in and around Chennai. We collect information from you only when it is needed.
			</li>
			<li>If you want to sign up with JollyEventz we collect your name, email address and your phone number. This information shared by you is used for intended purposes such as informing about any offers / interesting events and most importantly to process details whenever you make a booking with us.
			</li>
			<li>If you book a venue through JollyEventz, we will require details regarding the event for which the venue is booked. If you would like to make use of our special offers or discounts, we might collect other information about you. We do not use any of the collected information beyond the purpose for which it was meant to be used.
			</li>
		</ul>
		<li>How we use your information:</li>
		<ul>
			<li>Besides the information you provide we also collect limited information about your IP address and the internet address that referred you. This information is primarily used to understand trends and statistics so that we cater information in the best way possible for our users.</li>
			<li>We store and manage all your personal information on our servers that are well protected in terms of technology and physical features.</li>
			<li>We relate to third parties to verify and certify our privacy guidelines. If you object to this, please do not use this site. We will continue to implement additional security features as and when technology evolves.</li>
			<li>We use your personal details such as email address to keep you updated with the features and new changes made to JollyEventz.</li>
		</ul>

		<li>Disclosure of your information</li>
		<ul>
			<li>JollyEventz will not sell/trade the collected information. JollyEventz will allow venues to access the information for purpose of confirming your booking and coordinating your event.</li>
			<li>The information provided by you may be transferred to and stored to our servers present anywhere in the world. This information can be accessed by people working at any office location of GeoVerge and also any third party. Third parties are those that process credit card payments and provide support services for JollyEventz.</li>
			<li>As our company and business grows over the years, there might be a time when we enter into a joint venture or could be sold out to or be merged with another business. In any of those mentioned cases, your information will have to be transferred to the partner or targeted business owners or advisors.</li>
		</ul>
		<li>Changes to our Privacy Policy</li>
		<ul>
			<li>We are very much grateful to you and are always committed to giving you the best service. Therefore in the event of us changing our privacy policy, we will for sure notify you by email. But it would be much appreciated if you can frequently visit our site and enhance the site experience.
			</li>
		</ul>
	</ol>
	<p>
		We welcome your comments or queries related to our privacy policy. We will be happy to have you support our service and also benefit from the things we plan to offer you now and forever.
	</p>
	<p>
		Thanks for visiting <a href="www.jollyeventz.com">www.jollyeventz.com</a>. We value you and your privacy too.
	</p>

	<p><br /><br /><br /></p>
</div>