/****** For flushing the footer to the bottom ******/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.mainWrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -18.5em;
}
.footerDiv, .push {
	height: 18.5em;
}
/***************************************/
body {
	font-family: 'Open Sans', "Book Antiqua", Arial, sans-serif;
	background-image: url(Background1.jpg);
}
#bodyAndFooter {
	padding-top: 120px;
}
@media (max-width: 979px) {
	#bodyAndFooter {
		padding-top: 0;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row-fluid > [class*=span]:nth-child(2n+1) {
		clear: both;
		margin-left: 0;
	}
	.row-fluid .span3 {
		width: 48.61878453038674%;
	}
}
.nav a:hover, a:active, a:focus {
	outline: 0
}
.fr{ float: right; }
.fl{ float: left; }

/************** Header **************/
.navbar-inner {
	background: #FFF;
	border-bottom: 1px solid #f88534;
}
#customNav {
	-webkit-box-shadow: 0 0px 2px 0 #f88534;
	-moz-box-shadow:    0 0px 2px 0 #f88534;
	box-shadow: 		0 0px 3px 0 #f88534;
}
.collapse.in li {
	background-color: white;
	list-style-position: inside;
	border-bottom: 1px solid lightgrey;
	overflow: visible;
}
#navLinkText{
	font-size: 1.2em;
}
#headerBottom{
	position:relative;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
}
#contactInHeader {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	background-color: #9C6DC0;
	padding: 0.4em 1em;

	position: absolute;
	right:30%;
	bottom: 0;
	font-size: 1.1em;
	color: white;
}
#contactInHeader a {
	color: white;
	text-decoration: underline;
}
@media (max-width: 400px) {
	#contactInHeader {
		position:absolute;
		right:0;
		bottom:0;
		font-size: 1em;
	}
}
.tw-wrap {
	position: absolute;
	left: 0;
	bottom:0;
}
.gp-wrap {
	position: absolute;
	left: 64px;
	bottom:0;
}
.fb-wrap {
	position: absolute;
	left: 100px;
	bottom:0;
}
#socialLinks {
	position: absolute;
	right: 0;
	bottom:0;
}

/************** Notification **************/
#notification-bar {
	opacity: 0.8;
	display: none;
	background: rgba(255, 255, 255, 0.94);
	font-size: 20px;
	background-color: #e6e6fa;
	font-weight: bold;
	text-align: center;
	left: 0px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-right: 10%;
	padding-left: 10%;
	position: fixed;
	top: 0px;
	width: 80%;
	z-index: 10000;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.notify{
	display: inline;
}

/************** Home Content **************/
#homeHeading {
	font-size: 2em;
	font-weight: bold;
	background-color: transparent;
	padding-bottom: 1em;
	padding-top: 0em;
	margin: 0 0 0 0;
	text-align: center;
}
#searchArea {
	background-color:transparent;
	padding:0 0 2% 0;
}
#searchButton {
	margin-bottom: 10px;
}
#listVenueMsg h3{
	color:green;
	text-align: center;
}
#listVenueMsg a{
	color:#f88534;
}
#featuredVenues h4{
	text-align: center;
	font-style: italic;
	color: Red;
}

/************** Footer **************/
#footerLists{
	font-size: 1em;
	font-family: "Book Antiqua", Arial, sans-serif;
}
#footerLists ul{
	list-style-type: none;
}
#footerLists h5 {
	color: #f88534;
	margin-bottom: 0;
}
#footer hr {
	margin-top: 0;
	margin-bottom: 0;
}
#footerDesc{
	font-size: 1.2em;
	font-style: italic;
	padding: 0 2em;
	margin-top: 0.2em;
	-moz-border-radius: 1em;
	-webkit-border-radius:1em;
	border-radius: 1em;
	background-color: #9C6DC0;
	color: white;
}
#footerDesc p{
	text-align: center;
	padding-bottom: 0.3em;
}
/************** Customization of 3rd party css ***************/
.field_with_errors .message {
	display: inline;
	color: #D00;
	padding-left: 5px;
	font-size: 12px;
}
.form-horizontal .control-group {
	margin-bottom: 10px;
}
.form-horizontal input[type=text], input[type=password] {
	height: 1.5em;
}
.best_in_place {
	text-decoration: underline;
	cursor: pointer;
}
.best_in_place:hover {
	background-color: yellow;
}

/***************** Authentication ******************/
#sign_in_left {
	border-right: 1px solid grey;
}
#emailLogin {
	float:left;
	font-size: 1em;
	padding:60px 0 0 0;
}
#socialLogin {
	margin-left: 2%;
	padding:60px 0 0 0;
}
.wrapper {
	position: relative;
	height: 300px;
	margin: 10px;
	border-top:1px solid lightgrey;
}
.line {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 1px;
	background: #ccc;
	z-index: 1;
}
.wordwrapper {
	text-align: center;
	height: 12px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -12px;
	z-index: 2;
}
.word {
	position: absolute;
	color: #ccc;
	letter-spacing: 1px;
	left: 49%;
	width:10px;
	font: bold 12px arial,sans-serif;
	background: #fff;
}
#registerBtnInLogin{
	margin-bottom: 5px;
	margin-top: 15px;
}
#loginBtnInRegister{
	margin-bottom: 5px;
	margin-top: 15px;
}
#changePassDiv{
	display: none;
}
/************** will_paginate style ****************/
.flickr_pagination {
	text-align: center;
	padding: 0.3em;
	cursor: default; 
}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
	padding: 0.2em 0.5em; 
}
.flickr_pagination .disabled {
	color: #aaaaaa; 
}
.flickr_pagination .current {
	font-style: normal;
	font-weight: bold;
	color: #ff0084; 
}
.flickr_pagination a {
	border: 1px solid #dddddd;
	color: #0063dc;
	text-decoration: none; 
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
	border-color: #003366;
	background: #0063dc;
	color: white; 
}
.flickr_pagination .page_info {
	color: #aaaaaa;
	padding-top: 0.8em; 
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
	border-width: 2px; 
}
.flickr_pagination .previous_page {
	margin-right: 1em; 
}
.flickr_pagination .next_page {
	margin-left: 1em; 
}

/********* Static pages *************/
#privacy {
	font-size: 1.1em;
}
#privacy p {
	text-indent: 3em;
}
#privacy ol > li {
	font-weight: bold;
}
#aboutus p {
	text-indent: 3em;
	text-align: justify;
	font-size: 1.2em;
	font-family: "Book Antiqua", "Times New Roman";
}
#howitworks p{
	text-indent: 3em;
	text-align: justify;
	font-size: 1.2em;
	font-family: "Book Antiqua", "Times New Roman";
}
#howitworks h3 {
	text-align: center;
	color: red;
}
#howitworks img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#benefits ul{
	font-size: 1.2em;
	text-align: justify;
}