/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-image: url('Background1.jpg');
    margin-top: 110px;
    padding-top: 110px;
}

@media (min-width: 980px) { 
    body { 
        margin-top: 80px;
        padding-top: 80px; 
    } 
} 

.navbar .container { height: 3em; }

.navbar-inner {
    width: 100%;
    background: #FFF;
    /*height: auto;
    float: left;
    clear: both;
    z-index: 10000;*/
    position: absolute;
    border-bottom: 1px solid #f88534;
    padding: 1% 0;
    top:0;
}

#awesomeText {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    background-color:transparent;
    line-height: 1.5em;
    padding-bottom:1em;
    padding-top:0em;
    margin: 0 0 0 0;
    text-align: center;
}

#searchArea {
    background-color:transparent;
    padding:0 0 7% 0;
}

.hero-unit h1 {
    padding-top:4%;
    padding-bottom:4%;
}

.flex-caption {
    background-color:rgba(128, 128, 128, 0.25);
    height:25%;
    bottom:-20px;
}

#footerLists ul{
    list-style-type: none;
}

#footerLists h4 {
    color:#f88534;
}

#socialIcons{
    margin-top:1.5em;
}

#headerBottom{
	height:100%;
}

#headerBottom img{
    float:right;
    margin-right:0.5em;
}

#contactInHeader{
	position:relative;
}

#contactInHeader span{
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
}

#listVenueMsg h3{
    color:green;
}

#searchButton {
    margin-bottom: 10px;
}

.nav a:hover, a:active, a:focus {
  	outline: 0
}