.SearchResults{
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 200;
  min-height: 150px;
  width: 100%;
  line-height: 40px;
  color: inherit;
  background-color: rgba(207, 243, 250, 0.5);
  border: 2px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#results{
  margin-top: 20px;
}

.head-venue{
  background-color: rgba(207, 243, 250, 0.5);
}

.SearchResults:hover{
  border: 2px solid #dddddd;
  border-color: #666666;
  background-color: rgba(146, 224, 249, 0.5);
}
.filters{

}

.filters label{
  margin-bottom: 1px;
}

.filters input[type="checkbox"]{
  margin-top: 0px;
}

.filters a{
  cursor:pointer;
  color:rgb(66, 87, 97);
  padding-top: 2px;
  margin-left: 2px;
}

.filters a:hover{
  text-decoration:none;
}

.filters ul{
  margin-left:0px;
  list-style: none outside none;
  height:9em;
  overflow:auto;
}

.filters li{
  padding:1px;
  margin: 1px;
}

.filters li:hover{
  background-color:rgb(206, 225, 233);
}

label.filebutton {
  width:120px;
  height:40px;
  overflow:hidden;
  position:relative;
  background-color:#ccc;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}

.venue-img{
	float: left; 
	width:170px;
	height:130px;
	position: relative;
}

.bottom10{
  bottom: 10px;
}

.top10{
  top:10px;
}

.right5{
  right: 5px;
}

.amenities-div{

}

.amenities-div img{
  width: 22px;
  height: 22px;
}

.amenities-div ul{
  list-style: none outside none;
}

.amenities-div li{
  margin-bottom: 5px;
}

.amenities-div p{
  width: 200px;
  height: 30px;
}

.amenities-div span{
  width: 50px;
}

.view-suit {
  max-height: 100px;
}

.view-suit span{
  min-width: 800px;
  background-color: #c3d69d;
  font-size: 20px;
  position: relative;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  margin-right: 10px;
}

.venue-img-div{
  margin-top: 10px;
}

.venue-img-div img{
  float: left;
  top: 10px;
  width:270px;
  height:220px;
  position: relative;
  margin-bottom: 10px;
}

.venue-amenities{
  padding: 10px;
  margin: 10px;
  margin-top: 25px;
  border: 4px solid #cc1111;
  border-radius: 16px;
  position: relative;
}

.halls-table{
  font-size: 12px;
}

.highlights-div{
  padding: 20px;
  margin-left: 30px;
  border: 4px solid #cc1111;
  border-radius: 16px;
  position: relative;
  font-size: 11px;
}

.new-venue-img{
  float: left;
  top: 10px;
  width:170px;
  height:130px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  border: 2px solid #dddddd;
  border-color: #666666;
}

.venue-icons-div{
  float: right;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 0px;
}

.venue-icons{
	
	padding-right: 4px;
	position: relative;
	width: 20px;
	height: 20px;
}

.query_param{
  background-color: rgb(220,220,150);
  padding-left: 4px ;
  padding-right: 4px ;
  padding-top: 2px ;
  padding-bottom: 2px ;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.navigation{
  margin-bottom:6px;
  padding-bottom: 6px;
  float:right;
}

.query_param_div{
  padding-left:20px;
  margin-bottom:6px;
}

.close-icon{
  position: relative;
  width: 17px;
  height: 17px;  
  cursor:pointer;
}

.SearchResults a:hover {
  text-decoration:none;
}

.SearchResults h3 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -1px;
  background-color: rgba(136, 208, 226, 0.49);
  border: 2px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #0088cc;
}

.SearchResults li {
  line-height: 30px;
}

.numRooms {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  margin-right: 4px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -1px;
  background-color: rgb(0,202,202);
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: inherit;
  float:left;
  font-weight:bold;
}

.search-button{
	float: right;
	margin-left: 4px;
	margin-top: 5px;
}

.capacity {
  padding-left: 5px;
  padding-right: 5px;
  margin-top:15px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -1px;
  background-color: rgb(252,147,172);
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: inherit;
  float:right;
  font-weight:700;
}

.address {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.btn-medium {
  padding: 5px 12px;
  font-size: 14.5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-medium [class^="icon-"],
.btn-medium [class*=" icon-"] {
  margin-top: 4px;
}

/*** NR - Dont do this, it messes up modals throughout ***/
/*.modal{   
  width: 70%;
}
*/
#show_modal.modal { width: 70%; }
#show_venue.modal{ width: 70%; }

.query_title{
  font-weight: bold;
}

.cp{
  cursor:pointer;
}