.SearchResults{
  padding: 5px 4px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 200;
  min-height: 145px;
  /*width: 100%; */
  line-height: 40px;
  color: inherit;
  /*background-color: rgba(207, 243, 250, 0.5); */
  border: 2px solid #cccccc;
  *border: 0;
  border-color: rgba(153, 50, 204, 0.4) rgba(153, 50, 204, 0.4) rgba(153, 50, 204, 0.8);
  /*border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3; */
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

#results{
  margin-top: 20px;
}

.head-venue{
  background-color: rgba(207, 243, 250, 0.5);
}

.SearchResults:hover{
  border: 2px solid #dddddd;
  /*border-color: #666666;
  background-color: rgba(146, 224, 249, 0.5); */
  border-color: rgba(153, 50, 204, 0.8);
  background-color: rgba(153, 50, 204, 0.1);
}

.filters{
  margin: 0;
  padding-top: 0;
  line-height: 1
}

.filters label{
  margin-bottom: 1px;
}

.filters input[type="checkbox"]{
  margin-top: 0px;
}

.filters hr{
  margin-bottom: 5px;
  margin-top: 5px;
}

.filters a{
  cursor:pointer;
  color:rgb(66, 87, 97);
  padding-top: 2px;
  margin-left: 2px;
}

.filters a:hover{
  text-decoration:none;
}

.filters ul{
  margin-left:0px;
  list-style: none outside none;
  height:9em;
  overflow:auto;
}

.filters li{
  padding:1px;
  margin: 1px;
}

.filters li:hover{
  background-color:rgb(206, 225, 233);
}

label.filebutton {
  width:120px;
  height:40px;
  overflow:hidden;
  position:relative;
  background-color:#ccc;
}

label span input {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -700px;
  opacity: 0;
  filter: alpha(opacity = 0);
  -ms-filter: "alpha(opacity=0)";
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding:0;
}

/* ----- show-results page - venue image ------ */
.venue-img{
	float: left; 
	width:170px;
	height:133px;
  margin-left: 5px;
  margin-top: 6px;
	 /*position: relative; */
   /*border:1px solid #b3b3b3;*/
}

.bottom10{
  bottom: 10px;
}

.top10{
  top:10px;
}

.top4{
  top:4px;
}
.right5{
  right: 5px;
}

.amenities-div{

}

.amenities-div img{
  width: 22px;
  height: 22px;
}

.amenities-div ul{
  list-style: none outside none;
}

.amenities-div li{
  margin-bottom: 5px;
}

.amenities-div p{
  width: 200px;
  height: 30px;
}

.amenities-div span{
  width: 50px;
}

.view-suit {
  max-height: 100px;
}

.view-suit span{
  min-width: 800px;
  background-color: #c3d69d;
  font-size: 20px;
  position: relative;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;
  margin-right: 10px;
}

.venue-img-div{
  margin-top: 10px;
}

.venue-img-div img{
  float: left;
  top: 10px;
  width:270px;
  height:220px;
  position: relative;
  margin-bottom: 10px;
}

.venue-amenities{
  padding: 10px;
  margin: 10px;
  margin-top: 25px;
  border: 4px solid #cc1111;
  border-radius: 16px;
  position: relative;
}

.halls-table{
  font-size: 12px;
}

.highlights-div{
  padding: 20px;
  margin-left: 30px;
  border: 4px solid #cc1111;
  border-radius: 16px;
  position: relative;
  font-size: 11px;
}

.new-venue-img{
  float: left;
  top: 10px;
  width:170px;
  height:130px;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  border: 2px solid #dddddd;
  border-color: #666666;
}

.venue-icons-div{
  float: right;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 0px;
}

.venue-icons{
	
	padding-right: 4px;
	position: relative;
	width: 18px;
	height: 18px;
}

.query_param{
  /*background-color: rgb(220,220,150); */
  background-color: rgba(153, 50, 204, 0.2);
  padding-left: 4px ;
  padding-right: 4px ;
  padding-top: 2px ;
  padding-bottom: 2px ;
  margin-right: 5px;
  margin-bottom: 10px;  
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  line-height: 2;
}

.query_param_criteria{
   margin-top: 5px;
}

.navigation{
  margin-bottom:6px;
  padding-bottom: 6px;
  float:right;
  margin-right: 8px;
}

.query_param_div{
  padding-left:0px;
  margin-bottom:6px;
  width: 100%;
  text-align: justify;
  /*border: 2px solid #cccccc;*/
}

.close-icon{
  position: relative;
  width: 17px;
  height: 17px;  
  cursor:pointer;
}

.SearchResults a:hover {
  text-decoration:none;
}

.SearchResults h3 {
  padding-left: 5px;
  padding-right: 3px;
  margin-bottom: 3px;
  margin-top: 5px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.04px;  
  /*background-color: rgba(136, 208, 226, 0.49); */
  background-color: rgba(153, 50, 204, 0.2);
  border: 2px solid #cccccc;
  *border: 0;
  /*border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3; */
  border-color: rgba(153, 50, 204, 0.2) rgba(153, 50, 204, 0.2) rgba(153, 50, 204, 0.2);*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color:black;
  /*color: #0088cc; */
}

#resultdiv:hover > #result_content_div h3 {
  background-color: rgba(153, 50, 204, 0.6);
  color:white;
}

.SearchResults li {
  line-height: 30px;
}

.hallandcapacity{
  line-height:1;
  margin-top: 5px;
}

.numRooms {
  padding: 0;
  padding-right: 5px;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-top: 0;
  font-size: 13px;
  font-family: arial,tahoma,verdana,sans-serif;
  line-height: 1;
  letter-spacing: 0.04px;
 /* background-color: rgb(0,202,202);
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; */
  color: black;
  float:left;
  font-weight:700;
}

.search-button{
	float: right;
	margin-left: 0px;
	padding: 3px;
  background-color: rgba(153, 50, 204, 0.8);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: white;
  font-weight: 800; 

}

.capacity {
  padding-left: 2px;
  padding-right: 5px;  
  margin: 0px;
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: -1px;
  /*background-color: rgb(252,147,172);
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3; */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: black;
  float:right;
  font-weight:900;
}

.address {
  font-family: arial,helvetica,clean,sans-serif; 
  font-size: 12px;  
  line-height: 18px;
  max-width: 65%; 
  margin-bottom: 3px;
  margin-top: 0px;
}

.Landmark {
  font-size: 13px;
  font-weight: 800;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.btn-medium {
  padding: 5px 12px;
  font-size: 14.5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-medium [class^="icon-"],
.btn-medium [class*=" icon-"] {
  margin-top: 4px;
}

/*** NR - Dont do this, it messes up modals throughout ***/
/*.modal{   
  width: 70%;
}
*/
#show_modal.modal { width: 70%; }
#show_venue.modal{ width: 70%; }

.query_title{
  font-weight: bold;
}

.cp{
  cursor:pointer;
}

.arrow-right{
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

.arrow-down{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.circle {
  display:inline;
  padding-left:4px;
  padding-right:4px;
  background:rgb(0,0,0);
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

.circle a {
  font-size:10px;
  text-decoration:none;
  color:#fff;

  position:relative; top:-2px;
}

.width100{
  width: 100%
}

.row {
  padding: 0;
  margin: 0;
}

.bg{
  background-color: rgba(153, 50, 204, 0.5);
}

hr{
    padding: 0;
    margin: 0;    
  }

.btn-view {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #ff8c00) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #ff8c00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#ff8c00');
  background-color:#ffc477;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;  
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:black;
  font-family:'Open Sans', "Book Antiqua", Arial, sans-serif;
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:22px;
  line-height:22px;
  width:80px;
  text-decoration:none;
  text-align:center;
  /*text-shadow:1px 1px 0px #cc9f52; */
}
.btn-view:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8c00), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #ff8c00 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c00', endColorstr='#ffc477');
  background-color:#ff8c00;
  color:white;
  text-shadow:none;
}
.btn-view:active {
  position:relative;
  top:1px;
}

.btn-NextPrev {
  width:37px;
  height:18px;
  line-height: 18px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;  
  color:black;
  font-size: 12px;
  text-shadow:none;
  padding:1px;
}

h6{
    font-size: 18px;
    font-weight: 900;
  }

.view_btn_alignment {
  margin:0; 
  padding:0; 
  position:absolute; 
  right:8px; 
  bottom:5px
}

.Write_review_alignment {
  margin:0; 
  padding:3px; 
  position:absolute; 
  right:130px; 
  bottom:5px;
  line-height: 1; 
}

.links {
  color:black;
  font-style: italic, bold;
  font-family: Georgia,Times,"Times New Roman",serif;
}

.links:hover {
  font-size: 20px;
  color: black;
}
