div.roundedBorder{
	padding: 1em;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
}

.contactname{
	width: 12em;
}

#openHallSlide{
	display:none;
}

#closeHallSlide {
	margin-left: 0.5em;
}

.disabledLinkForNew{
	color: grey;
}

.seating {
	overflow: hidden;
}

.seatingCap{
	width: 3em;
}


#halls{
	width: 60%;
}