<font face="Book Antiqua" color="black"><p>Hello <%= @resource.name %>!</p>

<p>Looks like you have forgotten your password. To create a new password, click the link below.</p>

<p style="margin-left:10em;"><%= link_to 'Reset my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Make sure your new password can be easily remembered by you.</p>

<p>If you did not request this password change,  feel free to ignore it. Your password won't change until you <br>access the link above and create a new one.</p>
<p>If you have any comments or questions, please don't hesitate to reach us at support@jollyeventz.com.</p>

<p>Cheers,</p>
<p><b>JollyEventz Team</b></p>
